google-api-core
google-auth
google-cloud-speech
google-cloud-texttospeech
googleapis-common-protos
langchain
moviepy
openai
pydantic
python-dotenv
youtube-search-python
youtube-transcript-api
opencv-python
Pillow==9.5.0